@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    -webkit-font-smoothing: antialiased;
  }
  html {
    scroll-behavior: smooth;
  }
  
  body{
    background-color: white;
  }

  /* CSS para alterar a cor da seleção de texto */
::selection {
  background-color:#BF8D39; /* cor de fundo dourada */
  color: black; /* cor do texto durante a seleção, preto neste caso */
}

/* Para compatibilidade com navegadores mais antigos, como o Safari */
::-webkit-selection {
  background-color: #BF8D39;
  color: black;
}